body{
	/*background-color: #ffcc66;*/
	font-size: 14px;
	padding-top: 80px;
}
h1{
	color: orange; 
	text-align: center;
	font-family: Comic Sans MS;
}
.owl-item {				
	float: left;
}
y
		
#home{
	float:left;
}

.navbar{
	z-index: 99;
}

h2:after{
	position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 49px;
    background-color: #6291f9;
    content: "";
    display: block;

}


.dropdown-menu > li a{
	padding: 10px !important;
}

h2{
	margin: 60px 0 20px 15px;
    padding-bottom: 5px;
    position: relative;
    color: #6291f9;
}
.owl-carousel {
	overflow: hidden;
}
.owl-carousel .owl-item{
	overflow: hidden;
}
.img{
	height: 300px;
	width: 400px; 
	border-radius: 9%;
}
.table{
	padding: 100px;
}
#nav a:hover,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
.navbar-nav > li.active a{
	background-color: #6291f9;
	color: #fff !important;
}
header{
	min-height: 68px;
    background-color: rgba(241, 241, 241, 0.8);
    box-shadow: 0 2px 4px #d4d4d4;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    left: 0;
}
#nav a{
	color: #eee;
	color: #6291f9;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 300ms ease-in-out;
	font-size: 13px;
}
.navbar {
	position: fixed;
	max-width: 1170px;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	top: 10px;
	max-width: 1170px;
    margin: 0 auto;
	/*background-color: lightgray; */

}

.navbar-brand{
	padding: 0;
}

.logo{
	max-width: 120px;
}

.owl-nav .owl-prev{
	right: 0;
}

.owl-nav .owl-prev,
.owl-nav .owl-next{
	position: absolute;
	top: 50%;
	background: #fff;
	opacity: .7;
}
.owl-nav img{
	width: 45px;
}



